<!DOCTYPE html>
<html>
<head>
    <title>Задачи</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Список задач</h1>
    <a class="button" href="/add">Добавить задачу</a>

    {% for task in tasks %}
        <div class="task {% if task.is_done %}task-done{% endif %}">
            {% if task.is_done %}
                <h1 class="task-title">Задача выполнена</h1>
            {% endif %}
            <div class="task-title">{{ task.title }}</div>
            <div>{{ task.description }}</div>

            <div class="task-actions">
                <a href="/edit/{{ task.id }}">✎ Редактировать</a>
                {% if not task.is_done %}
                    <a href="/done/{{ task.id }}">✔ Выполнить</a>
                {% endif %}
                {% if task.is_done %}
                    <a href="/undone/{{ task.id }}">✘ Отменить</a>
                {% endif %}
                <a href="/delete/{{ task.id }}" style="color:red;">✖ Удалить</a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>